apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: postgres
  labels:
    app: postgres
data:
  POSTGRES_DB: chadi-db
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: "123456789"